.wrapper {
  max-width: 1200px;
  object-fit: fill;
  margin: 0 auto;
}

.bgImage {
  position: absolute;
  width: 1700px;

  border-radius: 50%;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.buttonWrapper {
  display: flex;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 250px;
  justify-content: space-between;
  z-index: 4;
}

.conrolledBtn,
.unconrolledBtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    filter: brightness(1.2);
  }
}

.conrolledBtn {
  background: linear-gradient(45deg, #912420, #ff4e50);
}

.unconrolledBtn {
  background: linear-gradient(45deg, #1754a0, #72aef2);
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

.button {
  height: 45px;
  cursor: pointer;
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: filter 0.3s ease;
}

.button:hover {
  filter: brightness(1.3);
}
