@import './index.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: $primary-dark;
}

ul {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}
