$primary-dark: #2f2f2f;
$primary-light: #fff;
$content-background-color: #fff;
$accent-color: #57bd84;
$eyes-killer: red;

$border-radius: 0.7rem;

$transit-duration: 0.3s;
$transition-set: 0.3s ease-in-out;
